* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(245, 243, 241, 0.829);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    background: linear-gradient(90deg, #b0219d, #ee85b0, #74baf3);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }


.logo-container {
    display: flex;
    align-items: center;
}

.logo-container span {
    font-size: 1.2rem;
}
.logo-container img {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.nav-links > li {
    list-style: none;
}

.nav-links > li > a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
}


