@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }

    .hamburger {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .6rem;
    max-width: 60%;
    margin: 2rem auto;
}

    
    .home-company {
        width: 65%;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .event-card {
        flex: 1;
    }

    .weather-card {
        flex: 1;
    }

    footer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        line-height: 1.5;
        margin: 0 auto; 
        padding: 2rem 3rem;
        text-align: left;
        margin-top: auto;
    }

    .card-form {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }


    .form-class {
        max-width: 900px;      /* controls width on large screens */
        margin: 2rem auto;     /* centers horizontally */
        padding: 2rem;
        border: 1px solid #555;
        flex: 2.5;
    }

    .card-class {
        flex: 0.3;
        margin: 2rem auto;     /* centers horizontally */
        padding: 2rem;
        border: 1px solid #555;
        border-radius: 5px;
    }

    #member-level {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
}

@media (min-width: 1020px) {
    .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .6rem;
    max-width: 60%;
    margin: 2rem auto;
}
}