@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }

    .hamburger {
        display: none;
    }

    nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
    }

    .hero {
        width: 100%;
        height: 350px;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    .hero img {
        width: 100%;
        height: 350px;
        margin-bottom: 5rem;
    }

    .home-company {
        width: 65%;
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .event-card {
        flex: 1;
    }

    .weather-card {
        flex: 1;
    }

    .join {
        position: absolute;
        bottom: 10px;
    }

    footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
    margin: 0 auto; 
    padding: 2rem 3rem;
    text-align: left;
    margin-top: 3rem;
    }
}