*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #F9FAFB;
    
}

main, header {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto
}

section {
    margin: 3rem 0;
}

h1 {
    background-color: #4A90E2;
    font-family: 'Times New Roman', Times, serif;
    padding: .3rem;
    color: #000;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    padding: .3rem;
    background-color:#2E2E2E;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.h-two {
    text-align: center;
}

.scenario {
    margin-left: 3rem;
}

ul li {

    list-style: none;
}

table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 1rem auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.sub-head {
    font-weight: bold;
    background-color: lightgray;
}

.wireframe img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imglarge {
    margin: 2rem auto;
    max-width: 100%;
    text-align: center;
}
 
.imgmobile {
    margin: 2rem auto;
    max-width: 60%;
    text-align: center;
}

footer {
    background-color: #EDF6FF;
    padding: 1rem;
    text-align: center;
}