*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #F9FAFB;
    padding-left: 2rem;
}

main {
    width: 100%;
    padding: 1rem;
}

section {
    width: 100%;
    margin: 2rem 0;
}

h1 {
    background-color: #4A90E2;
    font-family: 'Times New Roman', Times, serif;
    padding: .3rem;
    color: #000;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    padding: .3rem;
    background-color:#2E2E2E;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.scenario {
    margin-left: 3rem;
}

ul li {
    padding-left: 2rem;
    list-style: none;
}

table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.sub-head {
    font-weight: bold;
    background-color: lightgray;
}

.wireframe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.imglarge {
    width: 600px;
    height: auto;
}

.imgmobile {
    width: 400px;
    height: auto;
}

footer {
    background-color: #EDF6FF;
    padding: 1rem;
    text-align: center;
}